* {
  font-family: "Roboto", sans-serif;

  background-color: linear-gradient(
    180deg,
    rgba(74, 67, 155, 1) 50%,
    rgba(0, 0, 64, 1) 50%
  );
}

.logoDL {
  width: 84px;
}

.navbar {
  background-color: transparent !important;
}

.botonNav {
  height: 72px;
  width: 200px;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 600;
}

.navbar-nav {
  margin-right: 6rem !important;
}

.nav-link:hover {
  color: #2ec9e5 !important;
}

.block-foto {
  position: relative;
}

.gradiente {
  position: absolute;
  z-index: -1;
  width: 664px;
  height: 472px;
  top: 0;
  right: -100px;
  background: rgba(255, 255, 255, 0.85);
  filter: blur(125px);
}

/* Borde de la primera sección 3 cards */
.borderr1 {
  border-radius: 8rem 0 0 0;
}

.borderr2 {
  border-radius: 0 8rem 0 0;
}

.borderr3 {
  border-radius: 0 0 8rem 0;
}

/* Número 30 en grande */
.textel {
  font-size: 8rem;
}

/* Fuente */
.fprincipal {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

/* Botones */
.boton {
  border-radius: 0.6rem;
  font-weight: 700;
}

/* Texto 4ta seccion */
.textogrande {
  font-size: 18rem;
}

/* Color de los iconos */
.iconocolor {
  color: black;
}

.textoL {
  font-weight: 300;
}

/* Background color gradiente corregido */

.fondogradiente {
  background: rgb(74, 67, 155);
  background: linear-gradient(
    180deg,
    rgba(74, 67, 155, 1) 50%,
    rgba(0, 0, 64, 1) 50%
  );
}
